@{
    ViewBag.Title = "Home Page";
}

<img src="~/Imagens/EasyPersonal.png" style="width:1140px"; height="250px";/>




<div style="float: left; width: 45%">
    <h3>Sobre o Easy Personal</h3><br />
        <p  style="text-align:justify; text-indent:2em;" >
            O EasyPersonal é um aplicativo web, voltado para o Personal Trainer.
            O EasyPersonal possui um grande gerenciamento para os treinadores, permitindo que ao invés de armazenar os dados, treinos, e pagamentos de seus alunos em papéis, consequentemente gerando uma grande documentação, e com o tempo pode causar um descontrole, e algumas informações serem trocadas pelo simples fato de o numero de alunos ir crescendo, e o numero de papeis tambem.
        </p>
    <center>
        <p>
            <img src="~/Imagens/personalAcademia.jpg" style="width:400px" ; height="280px" ; />
        </p>
    </center>
    <p style="text-align:justify; text-indent:2em;">
        Com o EasyPersonal, é possivel gerenciar todos os alunos, e seus treinos, organizadamente, sendo possivel ser acessado de qualquer lugar em qualquer aparelho que possua conexão com a internet.
        Você terá uma lista própria de exercicios que o sistema já fornece com 157 exercícios cadastrados, podendo tambem adicionar os seus próprios exercicios, como você achar melhor.
        O aplicativo tambem consta com um sistema de pagamento, onde você poderá adicionar o valor da mensalidade de um aluno e a quantia de meses em que ele treinará com você.
     </p>
</div>

<div style="float: right; width: 45%">
    <h3>
        Avaliações Físicas
    </h3>
    <p style="text-align:justify; text-indent:2em;">
        O aplicativo EasyPersonal também conta com um sistema de calculo de avaliações físicas, onde ao inserir as dobras cutâneas, será gerado as medidas do aluno.
        Podem ser utilizados três protocolos para o cálculo, sendo eles Faulkner, Pollock 3 dobras e Pollock 7 dobras, que sãos os protocolos mais utilizados atualmente.
    </p>
    <center>
        <p>
            <img src="~/Imagens/avaliacao.png" style="width:350px" ; height="280px" ; />
        </p>
    </center>

    <p style="text-align:justify; text-indent:2em;">
        Você tambem pode gerar gráficos de qualquer medida desejada, a partir de todas as avaliações já realizadas de um determinado protocolo, para o acompanhamento do desenvolvimento do aluno, podendo verificar em qual área ele esta evoluindo ou regredindo, sendo possivel ter um melhor controle sobre o aluno.
    </p>
</div>
<divstyle ="clear: both"></div>